<div class="wrapper-panel">

  <div class="row">

    <div class="col-lg-6 wrapper-pad">
      <div class="label-pad">
        {{ "pages.digitsClassification.title" | translate }}
      </div>
      <app-signature-pad
        (imageData)="_predictNumber($event)"
        (imageCleared)="_resetChartData()">
      </app-signature-pad>
    </div>

    <div class="col-lg-6 wrapper-chart">
      <div class="label-pad">
        {{ "pages.digitsClassification.results" | translate }}
      </div>
      <app-simple-chart
        [chartData]="_chartData"
        [chartLabels]="_chartLabels">
      </app-simple-chart>
    </div>

  </div>

  <app-navbar></app-navbar>
</div>
