@import '../../@core/theme/variables.scss';

.wrapper-panel {
  padding-top: 40px;
}

.wrapper-pad {
  text-align: center;
}

.input-review {
  width: 360px;
  margin: auto;

  resize: none;
  border: 2px dashed $app-dark;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.5);
}

.wrapper-chart {
  max-width: 360px !important;
  margin: auto;

  text-align: center;
  padding: auto;
  overflow: hidden;
}


.label-pad {
  font-size: 24px;
  text-align: center;
  padding: 12px;
}
