<div class="wrapper-pad">
  <canvas appDrawable appDebounce (imageChanged)="_onImageChanged($event)"></canvas><br>

  <div class="wrapper-buttons">
    <div appDebounce (debounceClick)="_clear()" innerHTML="{{ 'icons.clear' | translate }}" class="btn-icon red"></div>
    <div appDebounce (debounceClick)="_redo()" innerHTML="{{ 'icons.redo' | translate }}" class="btn-icon dark"></div>
    <div appDebounce (debounceClick)="_undo()" innerHTML="{{ 'icons.undo' | translate }}" class="btn-icon dark"></div>
  </div>
</div>
