@import '../../@core/theme/variables.scss';

.wrapper-pad {
  display: inline-flex;
  justify-content: flex-end;
  border: 2px dashed $app-dark;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.5);

  canvas {
    cursor: crosshair;
  }
}

.btn-clear {
  width: 48px;
  height: 48px;
  margin-top: -6px;

  color: $app-red;
  cursor: pointer;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}
