<div class="row wrapper-panel">
  <div class="col-lg-6 wrapper-pad">
    <div class="label-pad">
      {{ "pages.writeNumber.title" | translate }}
    </div>
    <app-signature-pad
      (imageData)="_predictNumber($event)"
      (imageCleared)="_resetChartData()"
    ></app-signature-pad>
  </div>

  <div class="col-lg-6 wrapper-pad">
    <div class="label-pad">
      {{ "pages.writeNumber.results" | translate }}
    </div>
    <app-simple-chart
      [chartData]="_chartData"
      [chartLabels]="_chartLabels"
    ></app-simple-chart>
  </div>
</div>
