<div class="wrapper-panel">
  <div class="row">
    <div class="col-lg-6 wrapper-pad">
      <div class="label-pad">
        {{ "pages.writeReview.title" | translate }}
      </div>
      <div class="form-group">
        <textarea class="form-control input-review" rows="4"></textarea>
      </div>
    </div>

    <div class="col-lg-6 wrapper-chart">
      <div class="label-pad">
        {{ "pages.writeReview.results" | translate }}
      </div>
      <app-simple-chart
        [chartData]="_chartData"
        [chartLabels]="_chartLabels"
      ></app-simple-chart>
    </div>
  </div>

  <app-navbar></app-navbar>
</div>
