@import '~bootstrap/scss/bootstrap';
@import 'app/@core/theme/variables.scss';

$theme-colors: (
  "$primary": $app-green,
  "$danger": $app-red
);

$bodyPadding: 128px;

.gone {
  display: none;
}

body {
  height: 100vh;
  margin: 0;

  color: $app-dark;
  backdrop-filter: blur(6px);

  background: {
    image: url('assets/img/background.jpg');
    size: cover;
    repeat: no-repeat;
    position: center center;
  }
}

.wrapper-panel {
  position: absolute;
  top: $bodyPadding;
  bottom: $bodyPadding;
  left: $bodyPadding;
  right: $bodyPadding;
  background-color: rgba(255, 255, 255, 0.77);
  border-radius: 6px;
  overflow: hidden;
}

.red {
  color: $app-red;
}

.green {
  color: $app-green;
}

.yellow {
 color: $app-camel;
}
